ReInf/Nfse/Esquemas/CONSIST/retornos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
    elementFormDefault="qualified" xmlns:ax21="http://eISS/xsd" targetNamespace="http://eISS/xsd">
    <xs:complexType name="eISSWService_RPSInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="aliq" type="xs:double"/>
            <xs:element minOccurs="0" name="bairro" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="cidade" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="codAtiv" type="xs:int"/>
            <xs:element minOccurs="0" name="competencia" type="xs:int"/>
            <xs:element minOccurs="0" name="convenio" type="xs:int"/>
            <xs:element maxOccurs="1" minOccurs="1" name="descServicos" type="xs:string"/>
            <xs:element minOccurs="0" name="dtEmissaoRPS" type="xs:int"/>
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="endereco" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="identTomador" type="xs:double"/>
            <xs:element minOccurs="0" name="local" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="municipioServ" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="numRPS" type="xs:long"/>
            <xs:element minOccurs="0" name="rzSocial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="serieRPS" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="simples" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="sitRPS" type="xs:int"/>
            <xs:element minOccurs="0" name="tipoIdent" type="xs:int"/>
            <xs:element minOccurs="0" name="tipoRPS" type="xs:int"/>
            <xs:element minOccurs="0" name="tipoRecol" type="xs:int"/>
            <xs:element minOccurs="0" name="uf" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ufServ" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="vlCOFINS" type="xs:double"/>
            <xs:element minOccurs="0" name="vlCSLL" type="xs:double"/>
            <xs:element minOccurs="0" name="vlDeducoes" type="xs:double"/>
            <xs:element minOccurs="0" name="vlINSS" type="xs:double"/>
            <xs:element minOccurs="0" name="vlIR" type="xs:double"/>
            <xs:element minOccurs="0" name="vlImposto" type="xs:double"/>
            <xs:element minOccurs="0" name="vlPIS" type="xs:double"/>
            <xs:element minOccurs="0" name="vlServicos" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoProcessaRPS">
        <xs:sequence>
            <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="primeiraNota" type="xs:int"/>
            <xs:element minOccurs="0" name="retorno" type="xs:int"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="rpsItem" nillable="true"
                type="ax21:eISSWService_RetornoProcessaRPSItem"/>
            <xs:element minOccurs="0" name="totalNotas" type="xs:int"/>
            <xs:element minOccurs="0" name="ultimaNota" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoProcessaRPSItem">
        <xs:sequence>
            <xs:element minOccurs="0" name="hashCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="numNota" type="xs:int"/>
            <xs:element minOccurs="0" name="numRPS" type="xs:int"/>
            <xs:element minOccurs="0" name="urlNota" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoCancelaNFe">
        <xs:sequence>
            <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="retorno" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoConsultaNFeCancelada">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataCancelamento" type="xs:int"/>
            <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="numNota" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoConsultaNFe">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataEmissao" type="xs:int"/>
            <xs:element minOccurs="0" name="hashCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="numNota" type="xs:int"/>
            <xs:element minOccurs="0" name="numRPS" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoConsultaEmpresa">
        <xs:sequence>
            <xs:element minOccurs="0" name="bairro" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="cep" type="xs:int"/>
            <xs:element minOccurs="0" name="cidade" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="cnpjcpf" type="xs:long"/>
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="endereco" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="insMunicipal" type="xs:int"/>
            <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="razao" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="uf" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoProcessaRPSSerie">
        <xs:sequence>
            <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="primeiraNota" type="xs:int"/>
            <xs:element minOccurs="0" name="retorno" type="xs:int"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="rpsItem" nillable="true"
                type="ax21:eISSWService_RetornoProcessaRPSSerieItem"/>
            <xs:element minOccurs="0" name="totalNotas" type="xs:int"/>
            <xs:element minOccurs="0" name="ultimaNota" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoProcessaRPSSerieItem">
        <xs:complexContent>
            <xs:extension base="ax21:eISSWService_RetornoProcessaRPSItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="serieRPS" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoValidaRPS">
        <xs:sequence>
            <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="numRPS" nillable="true"
                type="xs:int"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ocorrencia" nillable="true"
                type="xs:string"/>
            <xs:element minOccurs="0" name="retorno" type="xs:int"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tipoOcorrencia" nillable="true"
                type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoValidaRPSSerie">
        <xs:complexContent>
            <xs:extension base="ax21:eISSWService_RetornoValidaRPS">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serieRPS" nillable="true"
                        type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="eISSWService_NFeInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="aliq" type="xs:double"/>
            <xs:element minOccurs="0" name="bairro" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="cidade" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="codAtiv" type="xs:int"/>
            <xs:element minOccurs="0" name="competencia" type="xs:int"/>
            <xs:element minOccurs="0" name="convenio" type="xs:int"/>
            <xs:element maxOccurs="1" minOccurs="1" name="descServicos" type="xs:string"/>
            <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="endereco" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="identTomador" type="xs:double"/>
            <xs:element minOccurs="0" name="local" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="municipioServ" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="rzSocial" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="simples" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="tipoIdent" type="xs:int"/>
            <xs:element minOccurs="0" name="tipoRecol" type="xs:int"/>
            <xs:element minOccurs="0" name="uf" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ufServ" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="vlCOFINS" type="xs:double"/>
            <xs:element minOccurs="0" name="vlCSLL" type="xs:double"/>
            <xs:element minOccurs="0" name="vlDeducoes" type="xs:double"/>
            <xs:element minOccurs="0" name="vlINSS" type="xs:double"/>
            <xs:element minOccurs="0" name="vlIR" type="xs:double"/>
            <xs:element minOccurs="0" name="vlImposto" type="xs:double"/>
            <xs:element minOccurs="0" name="vlPIS" type="xs:double"/>
            <xs:element minOccurs="0" name="vlServicos" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoEmiteNFe">
        <xs:sequence>
            <xs:element minOccurs="0" name="hashCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="numNota" type="xs:int"/>
            <xs:element minOccurs="0" name="retorno" type="xs:int"/>
            <xs:element minOccurs="0" name="urlNota" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="eISSWService_RetornoValidaNFe">
        <xs:sequence>
            <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ocorrencia" nillable="true"
                type="xs:string"/>
            <xs:element minOccurs="0" name="retorno" type="xs:int"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tipoOcorrencia" nillable="true"
                type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
