ReInf/Nfse/Nova pasta/Esquemas/GeisWeb/cancela_nota.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CancelaNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Usuario"/>
        <xs:element type="xs:string" name="Senha"/>
        <xs:element type="xs:int" name="Numero"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>