ReInf/Nfse/Nova pasta/Esquemas/GeisWeb/consulta_nota.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultaNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Usuario"/>
        <xs:element type="xs:string" name="Senha"/>
        <xs:element name="Consulta">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Numero"/>
              <xs:element type="xs:string" name="DtInicial"/>
              <xs:element type="xs:string" name="DtFinal"/>
              <xs:element type="xs:string" name="NumeroInicial"/>
              <xs:element type="xs:string" name="NumeroFinal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>