ReInf/Nfse/Nova pasta/Esquemas/EL/RpsService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://des36.el.com.br:8080/el-issonline/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://des36.el.com.br:8080/el-issonline/">

<xs:element name="CancelarNfseEnvio" type="tns:CancelarNfseEnvio"></xs:element>

<xs:element name="CancelarNfseEnvioResponse" type="tns:CancelarNfseEnvioResponse"></xs:element>

<xs:element name="CancelarNfseMotivoEnvio" type="tns:CancelarNfseMotivoEnvio"></xs:element>

<xs:element name="CancelarNfseMotivoEnvioResponse" type="tns:CancelarNfseMotivoEnvioResponse"></xs:element>

<xs:element name="ConsultarCnae" type="tns:ConsultarCnae"></xs:element>

<xs:element name="ConsultarCnaeResponse" type="tns:ConsultarCnaeResponse"></xs:element>

<xs:element name="ConsultarLoteRpsEnvio" type="tns:ConsultarLoteRpsEnvio"></xs:element>

<xs:element name="ConsultarLoteRpsEnvioResponse" type="tns:ConsultarLoteRpsEnvioResponse"></xs:element>

<xs:element name="ConsultarNfseEnvio" type="tns:ConsultarNfseEnvio"></xs:element>

<xs:element name="ConsultarNfseEnvioResponse" type="tns:ConsultarNfseEnvioResponse"></xs:element>

<xs:element name="ConsultarNfseRpsEnvio" type="tns:ConsultarNfseRpsEnvio"></xs:element>

<xs:element name="ConsultarNfseRpsEnvioResponse" type="tns:ConsultarNfseRpsEnvioResponse"></xs:element>

<xs:element name="ConsultarSituacaoLoteRpsEnvio" type="tns:ConsultarSituacaoLoteRpsEnvio"></xs:element>

<xs:element name="ConsultarSituacaoLoteRpsEnvioResponse" type="tns:ConsultarSituacaoLoteRpsEnvioResponse"></xs:element>

<xs:element name="ConsultarUltimaRps" type="tns:ConsultarUltimaRps"></xs:element>

<xs:element name="ConsultarUltimaRpsResponse" type="tns:ConsultarUltimaRpsResponse"></xs:element>

<xs:element name="ConsultarUltimoLote" type="tns:ConsultarUltimoLote"></xs:element>

<xs:element name="ConsultarUltimoLoteResponse" type="tns:ConsultarUltimoLoteResponse"></xs:element>

<xs:element name="EnviarLoteRpsEnvio" type="tns:EnviarLoteRpsEnvio"></xs:element>

<xs:element name="EnviarLoteRpsEnvioResponse" type="tns:EnviarLoteRpsEnvioResponse"></xs:element>

<xs:element name="ListarServicos116Municipal" type="tns:ListarServicos116Municipal"></xs:element>

<xs:element name="ListarServicos116MunicipalResponse" type="tns:ListarServicos116MunicipalResponse"></xs:element>

<xs:element name="ListarServicosMunicipais" type="tns:ListarServicosMunicipais"></xs:element>

<xs:element name="ListarServicosMunicipaisPrestador" type="tns:ListarServicosMunicipaisPrestador"></xs:element>

<xs:element name="ListarServicosMunicipaisPrestadorResponse" type="tns:ListarServicosMunicipaisPrestadorResponse"></xs:element>

<xs:element name="ListarServicosMunicipaisResponse" type="tns:ListarServicosMunicipaisResponse"></xs:element>

<xs:element name="ValidarLoteRps" type="tns:ValidarLoteRps"></xs:element>

<xs:element name="ValidarLoteRpsResponse" type="tns:ValidarLoteRpsResponse"></xs:element>

<xs:element name="autenticarContribuinte" type="tns:autenticarContribuinte"></xs:element>

<xs:element name="autenticarContribuinteResponse" type="tns:autenticarContribuinteResponse"></xs:element>

<xs:element name="fecharConexao" type="tns:fecharConexao"></xs:element>

<xs:element name="fecharConexaoResponse" type="tns:fecharConexaoResponse"></xs:element>

<xs:element name="finalizarSessao" type="tns:finalizarSessao"></xs:element>

<xs:element name="finalizarSessaoResponse" type="tns:finalizarSessaoResponse"></xs:element>

<xs:element name="requisitarAidf" type="tns:requisitarAidf"></xs:element>

<xs:element name="requisitarAidfResponse" type="tns:requisitarAidfResponse"></xs:element>

<xs:element name="validarAidf" type="tns:validarAidf"></xs:element>

<xs:element name="validarAidfResponse" type="tns:validarAidfResponse"></xs:element>

<xs:element name="verificarContribuinte" type="tns:verificarContribuinte"></xs:element>

<xs:element name="verificarContribuinteResponse" type="tns:verificarContribuinteResponse"></xs:element>

<xs:element name="verificarEmpresa" type="tns:verificarEmpresa"></xs:element>

<xs:element name="verificarEmpresaResponse" type="tns:verificarEmpresaResponse"></xs:element>

<xs:complexType name="finalizarSessao">
<xs:sequence>
<xs:element name="hashIdentificador" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="finalizarSessaoResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="CancelarNfseEnvio">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroNfse" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CancelarNfseEnvioResponse">
<xs:sequence>
<xs:element name="return" type="tns:nfseRpsResposta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nfseRpsResposta">
<xs:sequence>
<xs:element name="mensagens" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nfeRpsNotaFiscal" type="tns:nfeRpsNotaFiscal" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nfeRpsNotaFiscal">
<xs:sequence>
<xs:element name="dataProcessamento" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="idNfseCancelada" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="idNota" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="idRps" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numero" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="rpsNumero" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="situacao" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fecharConexao">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="fecharConexaoResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="validarAidf">
<xs:sequence>
<xs:element name="identificacaoAidf" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarAidfResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarContribuinte">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="senha" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarContribuinteResponse">
<xs:sequence>
<xs:element name="return" type="tns:nfseContribuinte" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nfseContribuinte">
<xs:sequence>
<xs:element name="bairro" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cep" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="inscEstad" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="inscMunic" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="logradouro" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="municipio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="naturezaTributacao" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomeFantasia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="optanteSimples" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="razaoSocial" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="regimeTributacao" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="siglaEstado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="site" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="telefone" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tipoLogradouro" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarSituacaoLoteRpsEnvio">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroProtocolo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarSituacaoLoteRpsEnvioResponse">
<xs:sequence>
<xs:element name="return" type="tns:situacaoLoteRps" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="situacaoLoteRps">
<xs:sequence>
<xs:element name="mensagens" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="numeroLote" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="situacaoLoteRps" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarNfseEnvio">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroNfse" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dataInicial" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="dataFinal" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="identificacaoTomador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="identificacaoItermediarioServico" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarNfseEnvioResponse">
<xs:sequence>
<xs:element name="return" type="tns:nfseResposta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nfseResposta">
<xs:sequence>
<xs:element name="mensagens" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="notasFiscais" type="tns:nfeRpsNotaFiscal" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarNfseRpsEnvio">
<xs:sequence>
<xs:element name="identificacaoRps" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarNfseRpsEnvioResponse">
<xs:sequence>
<xs:element name="return" type="tns:nfseRpsResposta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarContribuinte">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="senha" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarContribuinteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarServicos116Municipal">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarServicos116MunicipalResponse">
<xs:sequence>
<xs:element name="return" type="tns:servico116Municipal" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servico116Municipal">
<xs:complexContent>
<xs:extension base="tns:servicoMunic">
<xs:sequence>
<xs:element name="atividadePrincipal" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codigoCnae" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codigoServico116" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomeCnae" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="servicoMunic">
<xs:sequence>
<xs:element name="aliquota" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codigo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="denominacao" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="retencao" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tipoServico" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarUltimoLote">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarUltimoLoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarLoteRps">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arquivo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarLoteRpsResponse">
<xs:sequence>
<xs:element name="return" type="tns:loteRpsResposta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loteRpsResposta">
<xs:sequence>
<xs:element name="dataRecebimento" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="mensagens" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="numeroLote" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroProtocolo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarServicosMunicipais">
<xs:sequence>
<xs:element name="identificacaoPrefeitura" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarServicosMunicipaisResponse">
<xs:sequence>
<xs:element name="return" type="tns:servicoMunic" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnviarLoteRpsEnvio">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="hashIdentificador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arquivo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnviarLoteRpsEnvioResponse">
<xs:sequence>
<xs:element name="return" type="tns:loteRpsResposta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarUltimaRps">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarUltimaRpsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CancelarNfseMotivoEnvio">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="senha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroNfse" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="motivoCancelamento" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CancelarNfseMotivoEnvioResponse">
<xs:sequence>
<xs:element name="return" type="tns:nfseRpsResposta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarEmpresa">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="endereco" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="logo" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="numDiasCoversaoRps" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="utilizaIntermediario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="utilizaListaCnae" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarCnae">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarCnaeResponse">
<xs:sequence>
<xs:element name="return" type="tns:cnae" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cnae">
<xs:sequence>
<xs:element name="atividadePrincipal" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codigoCnae" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codigoServico" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomeCnae" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomeServico" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="requisitarAidf">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroInicial" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroFinal" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="quantidade" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="modeloSerie" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="vias" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomeGrafica" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cnpjGrafica" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="validade" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="requisitarAidfResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarLoteRpsEnvio">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroProtocolo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarLoteRpsEnvioResponse">
<xs:sequence>
<xs:element name="return" type="tns:nfseResposta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarServicosMunicipaisPrestador">
<xs:sequence>
<xs:element name="identificacaoPrestador" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarServicosMunicipaisPrestadorResponse">
<xs:sequence>
<xs:element name="return" type="tns:servicoMunic" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>